//
@keyframes twinkling{
  from{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
@-webkit-keyframes twinkling{
  from{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
@keyframes twinkling02{
  from{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@-webkit-keyframes twinkling02{
  from{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
//ÅÜµÀ
//@keyframes run01{
//  0% {background-position: 0 0;}
//  9.1% {background-position: -188px 0;}
//  18.2% {background-position: -376px 0;}
//  27.3% {background-position: -564px 0;}
//  36.4% {background-position: -752px 0;}
//  45.5% {background-position: -940px 0;}
//  54.6% {background-position: -1128px 0;}
//  63.7% {background-position: -1316px 0;}
//  72.8% {background-position: -1504px 0;}
//  81.9% {background-position: -1692px 0;}
//  91% {background-position: -1880px 0;}
//  100% {background-position: -2068px 0;}
//}
@keyframes run01{
  0% {background-position: 0 0;}
  20% {background-position: -188px 0;}
  40% {background-position: -376px 0;}
  60% {background-position: -564px 0;}
  80% {background-position: -752px 0;}
  100% {background-position: -940px 0;}
}
@-webkit-keyframes run01{
  0% {background-position: 0 0;}
  20% {background-position: -188px 0;}
  40% {background-position: -376px 0;}
  60% {background-position: -564px 0;}
  80% {background-position: -752px 0;}
  100% {background-position: -940px 0;}
}
//ÈËÅÜ
@keyframes peoplerun{
  0% {background-position: 0 0;}
  9.1% {background-position: -82px 0;}
  18.2% {background-position: -164px 0;}
  27.3% {background-position: -246px 0;}
  36.4% {background-position: -328px 0;}
  45.5% {background-position: -410px 0;}
  54.6% {background-position: -492px 0;}
  63.7% {background-position: -574px 0;}
  72.8% {background-position: -656px 0;}
  81.9% {background-position: -738px 0;}
  91% {background-position: -820px 0;}
  100% {background-position: -902px 0;}
}
@-webkit-keyframes peoplerun{
  0% {background-position: 0 0;}
  9.1% {background-position: -82px 0;}
  18.2% {background-position: -164px 0;}
  27.3% {background-position: -246px 0;}
  36.4% {background-position: -328px 0;}
  45.5% {background-position: -410px 0;}
  54.6% {background-position: -492px 0;}
  63.7% {background-position: -574px 0;}
  72.8% {background-position: -656px 0;}
  81.9% {background-position: -738px 0;}
  91% {background-position: -820px 0;}
  100% {background-position: -902px 0;}
}
//Ðý×ª
@-webkit-keyframes rotating{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}
@keyframes rotating{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}
@-moz-keyframes rotating{from{-moz-transform:rotate(0deg)}to{-moz-transform:rotate(360deg)}}
//swing
@-webkit-keyframes swing{
  20%{-webkit-transform:rotate(15deg);transform:rotate(15deg)}
  40%{-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}
  60%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}
  80%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}
  100%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}
}
@keyframes swing{
  20%{-webkit-transform:rotate(15deg);-ms-transform:rotate(15deg);transform:rotate(15deg)}
  40%{-webkit-transform:rotate(-10deg);-ms-transform:rotate(-10deg);transform:rotate(-10deg)}
  60%{-webkit-transform:rotate(5deg);-ms-transform:rotate(5deg);transform:rotate(5deg)}
  80%{-webkit-transform:rotate(-5deg);-ms-transform:rotate(-5deg);transform:rotate(-5deg)}
  100%{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}
}
//bounceInDown
@keyframes bounceInDown{
  from{opacity:0;-webkit-transform:translateY(-2000px);transform:translateY(-2000px)}
  60%{opacity:1;-webkit-transform:translateY(30px);transform:translateY(30px)}
  80%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}
  100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes bounceInDown{
  from{opacity:0;-webkit-transform:translateY(-2000px);-ms-transform:translateY(-2000px);transform:translateY(-2000px)}
  60%{opacity:1;-webkit-transform:translateY(30px);-ms-transform:translateY(30px);transform:translateY(30px)}
  80%{-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
  100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
//bounceIn
@-webkit-keyframes bounceIn{
  from{opacity:0;-webkit-transform:scale(.3);transform:scale(.3)}
  50%{opacity:1;-webkit-transform:scale(1.05);transform:scale(1.05)}
  70%{-webkit-transform:scale(.9);transform:scale(.9)}
  100%{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
}
@keyframes bounceIn{
  from{opacity:0;-webkit-transform:scale(.3);-ms-transform:scale(.3);transform:scale(.3)}
  50%{opacity:1;-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05)}
  70%{-webkit-transform:scale(.9);-ms-transform:scale(.9);transform:scale(.9)}
  100%{opacity:1;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
}
//slideInUp
@-webkit-keyframes slideInUp{
  from{opacity:0;-webkit-transform:translateY(2000px);transform:translateY(2000px)}
  100%{-webkit-transform:translateY(0);transform:translateY(0)}
}
@keyframes slideInUp{
  from{opacity:0;-webkit-transform:translateY(2000px);-ms-transform:translateY(2000px);transform:translateY(2000px)
  }
  100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
}
//
@-webkit-keyframes scalexy{
  from{-webkit-transform:scale(1);transform:scale(1)}
  100%{-webkit-transform:scale(2);transform:scale(2)}
}
@keyframes scalexy{
  from{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)
  }
  100%{-webkit-transform:scale(2);-ms-transform:scale(2);transform:scale(2)}
}
